@import "variables";

.mainContainer{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Naranja;
height: 100vh;
width: 100vw;

}

.container-landing {
    position: absolute;
    top: 70px;
    left: 11px;
    margin-right: 0px;
       
        
            h1{
                color: $White;
                font-size: 60px;
                font-weight: 500;
                text-align: center;
            }

            
            
            .img{
                width: 460px;
                height: 250px;
                margin-left: 60px;
                margin-top: 60px;
            }
            .container-btn{
                display: flex;
                justify-content: center;
                margin-top: 50px;

                .btn-contact{
                    background-color: $Brown;
                    border: none;
                    border-radius: 10px;
                    width: 250px;
                    height: 50px;
                    color: $White;
                    font-size: 18px;
                    margin-top: 70px;
                    
                }
                
            }
                
        }
        p{
            font-size: 30px;
            color: $Black;
            margin-top: 40px;
            text-align: center;
            font-weight: 500;
        }
    
    

.fondo{
    height: 100vh;
    width: 100vw;
    // padding: 100px;
}




@media (min-width: 1199px){ //Desktop
.mainContainer{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Naranja;


}

.container-landing {
        position:absolute;
        top:150px;
        left: 30px;
margin-right: 0px;
       
        
            h1{
                color: $White;
                font-size: 60px;
                font-weight: 500;
            }

            
            
            .img{
                width: 500px;
                height: 280px;
                margin-left: 100px;
            }
            .container-btn{
                display: flex;
                justify-content: center;
                margin-top: 30px;

                .btn-contact{
                    background-color: $Brown;
                    border: none;
                    border-radius: 10px;
                    width: 200px;
                    height: 40px;
                    color: $White;
                    font-size: 18px;
                    margin-top: 20px;
                    
                }
                
            }
                
        }
        p{
            font-size: 30px;
            color: $Black;
            margin-top: 40px;
        }
    
    

.fondo{
    height: 100vh;
    width: 100vw;
    // padding: 100px;
}

}


