@import "variables";

.mainContainer {
    display: flex;
    background-color: $Naranja;
    min-height: 100vh;

}

.container-landing {
    min-height: 100vh;
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: cover;
    
    .contentLetras {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 31vh;
        h1 {
            color: $White;
            font-size: 34px;
            font-weight: 500;
            text-align: center;
            width: 80vw;
            margin-top: 70px;
        }

        .ven {
            font-size: 23px;
            color: $Black;
            margin-top: 20px;
            margin-bottom: 1rem;
            text-align: center;
            font-weight: 500;
            width: 80vw;
        }
    }

    .img {
        width: 300px;
        height: 200px;
        float: right;
        animation: movimiento 2.5s linear infinite;
        margin-bottom: 20px;
    }

    @keyframes movimiento {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .container-btn {
        display: flex;
        justify-content: center;
        margin-top: -35px;

        .btn-contact {
            background-color: $Brown;
            border: none;
            border-radius: 10px;
            width: 162px;
            height: 30px;
            color: $White;
            font-size: 18px;
            margin-top: 20px;
        box-shadow:2px 2px 2px 1px $Black;

        }
    }
}



//-------------------------------------////
//-----------------------//-------------///
@media (min-width: 1199px) {
    //Desktop
    .mainContainer {
        display: flex;
        background-color: $Naranja;
        min-height: 100vh;
        min-width: 100vw;
        
    }

    .container-landing {
        min-height: 100vh;
        background: url(../img/fondo.png) no-repeat center center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        align-content: center;

        .contentLetras {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 54vh;
            h1 {
                color: $White;
                font-size: 60px;
                font-weight: 500;
                width: 50vw;
            }

            .ven {
                font-size: 30px;
                color: $Black;
                margin-top: 40px;
                width: 50vw;

            }
        }




        .img {
            width: 500px;
            height: 280px;
            margin-left: 100px;
            float: right;
            animation: movimiento 2.5s linear infinite;
        }

        @keyframes movimiento {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(30px);
            }

            100% {
                transform: translateY(0);
            }
        }



        .container-btn {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            .btn-contact {
                background-color: $Brown;
                border: none;
                border-radius: 10px;
                width: 200px;
                height: 40px;
                color: $White;
                font-size: 18px;
                margin-top: 20px;
                display: none;


            }

            .btn-contact:hover {
                background-color: $Black;
                border: none;
                border-radius: 10px;
                width: 200px;
                height: 40px;
                color: $White;
                font-size: 18px;
                margin-top: 20px;

            }

        }

    }




}